<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Vue 3D</title>
		<style>
			body { margin: 0; padding: 0; }
			#nav {
				position: fixed;
				top: 0;
				left: 0;
				height: 100%;
				width: 20%;
				background-color: #f5f5f5;
				padding: 20px;
      		}
			#container {
				position: fixed;
				top: 0;
				right: 0;
				bottom: 0;
				left: 0%;;
			}
			h1, h3 {
          		color: green;
				display: none;
        	}
        	body, header {
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
			}
		</style>
        <!-- <script async src="https://unpkg.com/es-module-shims@1.6.3/dist/es-module-shims.js"></script> -->
        <script src="{{ url_for('static', filename='qrcodes/qrcode.min.js') }}"></script>
		
		
 
	</head>
	<body>
		<header>
			<h1>PERGOAI</h1>
			<h3>Scannez le code QR pour voir votre pergola en AR</h3>
		</header>
		<main>
			<div id="qrcode"></div>
			<div id="hei" data-value="{{height}}"></div>
			<div id="model" data-value="{{fbx_path}}"></div>
		</main>
		<div id="container"></div>
		<script type="module" src="{{ url_for('static', filename='js/main.js') }}"></script>
	</body>
</html>