<!-- <!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Ma scène A-Frame</title>
    <style>
      #sidebar {
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100%;
        background-color: #333;
        color: #fff;
        padding: 20px;
      }
    </style>
    <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
    <script src="//cdn.rawgit.com/donmccurdy/aframe-extras/v3.8.3/dist/aframe-extras.min.js"></script>
    <script src="https://mannymeadows.github.io/Noosa/aframe-sun-sky.min.js"></script>
  </head>
  <body>
    <div id="sidebar">
      <h1>My Sidebar</h1>
      <p>Content goes here</p>
    </div>
    <a-scene environment="preset: forest; seed: 1; lightPosition: 0 5 -10">
      <a-plane position="0 0 0" rotation="-90 0 0" width="100" height="100" color="#7BC8A4" material="src: static/bois.jpg" rotation="0 0 0" rotation-reader ></a-plane>
      
      <a-gltf-model src="static/model.gltf" position="0 5 0" scale="1 1 1" ></a-gltf-model>
      
      <a-entity id="cameraRig" position="0 10 0" orbit-controls="target: 0 10 0">
        <a-entity id="camera" camera></a-entity>
      </a-entity>
      
      <a-entity id="sun" light="type: spot; color: #FFF; intensity: 2; angle: 20; distance: 200; penumbra: 0.2;" position="100 50 0" rotation="0 -90 0"></a-entity>
      
      <a-entity id="zoomButtons" position="-8 0 -15" scale="3 3 3">
        <a-plane id="zoomInButton" position="0 0.4 0" width="0.7" height="0.7" color="#FFFFFF" 
                 material="opacity: 0.7" 
                 onclick="zoomIn()">
          <a-text value="+" color="#000000" align="center" width="1"></a-text>
        </a-plane>
        
        <a-plane id="zoomOutButton" position="0 -0.4 0" width="0.7" height="0.7" color="#FFFFFF" 
                 material="opacity: 0.7" 
                 onclick="zoomOut()">
          <a-text value="-" color="#000000" align="center" width="1"></a-text>
        </a-plane>
      </a-entity>
      
      <a-camera position="10 40 50" look-controls></a-camera>
      
      <a-sky color="#ECECEC"></a-sky>
      
      <a-light type="directional" color="#FFFFFF" intensity="1" position="0 50 0"></a-light>
      
      <script>
        function zoomIn() {
          var cameraRig = document.querySelector('#cameraRig');
          var camera = document.querySelector('#camera');
          var currentDistance = camera.getAttribute('position').distanceTo(cameraRig.getAttribute('position'));
          var newDistance = currentDistance * 0.9; // Decrease distance by 10%
          camera.setAttribute('position', {z: newDistance});
        }
    
        function zoomOut() {
          var cameraRig = document.querySelector('#cameraRig');
          var camera = document.querySelector('#camera');
          var currentDistance = camera.getAttribute('position').distanceTo(cameraRig.getAttribute('position'));
          var newDistance = currentDistance * 1.1; // Increase distance by 10%
          camera.setAttribute('position', {z: newDistance});
        }
    
        AFRAME.registerComponent('rotation-reader', {
          schema: {
            speed: {default: 1}
          },
    
          init: function () {
            this.totalDegrees = 0;
          },
    
          tick: function () {
            var rotation = this.el.getAttribute('rotation');
            this.totalDegrees += rotation.z * this.data.speed;
            this.el.setAttribute('rotation', {x:0, y: 0, z: this.totalDegrees});
}
});
</script>
</a-scene>
    
    
      
  </body>
</html>  -->



<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Mon projet A-Frame</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/vis.css') }}">
  <script src="https://aframe.io/releases/1.2.0/aframe.min.js"></script>
  
</head>
<body>
  <a-scene environment="preset: forest; seed: 1; lightPosition: 0 5 -10">
    <a-plane id="my-plane" position="0 0 0" rotation="-90 0 0" width="200" height="200" color="#7BC8A4" material="src: static/image/bois.jpg"></a-plane>

    <a-gltf-model id="mod" src="static/model/model_6_white_fermee_[[1, 1, 1, 1], [1, 1, 1, 1], [1, 1, 1, 0]].glb" position="0 {{height}} 0" scale="1 1 1" zoom-on-mousewheel></a-gltf-model>
    <a-entity id="cameraRig" position="0 10 0">
      <a-entity id="camera" camera></a-entity>
      <a-entity id="orbitControls" orbit-controls="target: 0 10 0"></a-entity>
    </a-entity>

    <a-entity id="sun" light="type: spot; color: #FFF; intensity: 0; angle: 20; distance: 100; penumbra: 0.2;" position="100 50 0" rotation="0 -90 0"></a-entity>

    <a-camera position="10 40 50" look-controls></a-camera>

    <a-sky id="sky"  material="src: static/image/day.jpg"></a-sky>

    <a-light id="light" type="directional" color="#FFFFFF" intensity="1" position="0 50 0"></a-light>
  </a-scene>

  <button id="zoom-in-btn"><img src="static/image/zoom-in.png" alt="Zoom In" width="50px" height="50px"></button>
  <button id="zoom-out-btn"><img src="static/image/zoom-out.png" alt="Zoom In" width="50px" height="50px"></button>
  <button id="Bas"><img src="static/image/down.png" alt="Zoom In" width="50px" height="50px"></button>
  <button id="Haut"><img src="static/image/up.png" alt="Zoom In" width="50px" height="50px"></button>
  <button id="rotate"><img src="static/image/rotate.png" alt="Zoom In" width="50px" height="50px"></button>
  <button id="home"><img src="static/image/home.png" alt="Home" width="50px" height="50px"></button>
  <button id="night" ><img id="time" src="static/image/day-and-night.png" alt="Home" width="50px" height="50px"></button>

  <script src="{{ url_for('static', filename='js/vis.js') }}"></script>
  <script src="{{ url_for('static', filename='js/matrice.js') }}"></script>
</body>
</html>
